<h1>ブログ 一覧</h1>
<table>
  <tr>
    <th>投稿内容</th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
     <td><%= blog.content %></td>
     <td><%= link_to "投稿内容を確認する", blog_path(blog.id)%></td>
    </tr>
  <% end %>
</table>
<%= link_to "ブログ新規作成", new_blog_path %>
