<!DOCTYPE html>
<html>
  <header>
    <ul>
      <li class="left"><a href="#">ささやきブログ</a></li>
      <li class="right"><a href="#">お問い合わせ</a></li>
      <li class="right"><a href="#">ログイン</a></li>
    </ul>
  </header>
  <body>
    <div class="wrapper">
      <h2>新規作成</h2>
      <%= render 'form' %>
    </div>
  </body>
  <footer>
    <p>運営会社WHISPER株式会社</p>
    <p>© 2020 Copyright WHISPER Corp.</p>
  </footer>
</html>
